.laylist {
  background-color: #33333300;
  overflow: hidden;
}

.laylist ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.laylist li {
  float: left;
}

.laylist li a {
  display: block;
  color: rgb(33, 111, 24);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* Add these properties to ensure proper spacing and wrapping */
  white-space: nowrap; /* Prevent text wrapping */
  margin: 0 5px; /* Add spacing between items */
  font-size: xx-large;
}

.laylist li a:hover {
  background-color: #99d3b4;
}