---
layout: default
---
  <div>
    <ul>
      <h2>2026 Posts</h2>
      <ul>
        {% assign has_2026 = false %}
          {% for post in site.posts %}
            {% assign post_year = post.date | date: "%Y" %}
              {% if post_year == "2026" %}
                {% assign has_2026 = true %}
                <li>
                  <span>{{ post.date | date: "%Y-%m-%d" }}</span> - 
                  <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
              {% endif %}
          {% endfor %}
      </ul>

      {% unless has_2026 %}
        <p>2026 年的文章還在準備中...</p>
      {% endunless %}
    </ul>
  </div>